.main {
    display: grid;
    /*grid-template-rows: 1fr 1fr;*/
    /*grid-template-columns: 2fr 1fr 1fr;*/
    grid-auto-flow: column;
    grid-gap: 1em;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.room-page-header {
    grid-row: span 2;
    grid-column: span 2;
    font-size: 700%;
    text-align: center;
    color: #ffffff;
    background-color: #62fc9e;
    width: 100%;
    height: 100%;
    padding-top: 40%;
}

.create-button-area {
    grid-row: span 1;
    grid-column: span 1;
}
.join-button-area {
    grid-row: span 1;
    grid-column: span 1;
}

.list {
    grid-row: span 1;
    grid-column: span 2;
}